body {
    background-image: url('../sample/bg.jpg');
    background-color: #000000;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: center;
    background-size: 1000px;
}
@font-face {
    font-family: 'Conv_runescape_uf';
    src: url('fonts/runescape_uf.eot');
    src: local('☺'), url('fonts/runescape_uf.woff') format('woff'), url('fonts/runescape_uf.ttf') format('truetype'), url('fonts/runescape_uf.svg') format('svg');
    font-weight: lighter;
    font-style: normal;
}
h1 {
    font-family: 'Conv_runescape_uf', sans-serif;
    color: yellow;
    text-align: center;
}
p {
    text-align: center;
}

